

p{
    color: white;
}
h1,h2,h3,h4{
    color: white;
}

html body{
    margin: 0;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.menu {
    width: 100%;
    border-bottom: 2px solid rgba(192, 180, 180,0.3);
    display: grid;
    grid-template-columns: 1fr auto;
}

.texto-menu{
    padding-top: 70px;
    gap: 70px;
    display: flex;
    padding-left: 10px;
    padding-right: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.texto-menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
}


/* inicio */

.main-banner{
    padding: 50px;
    display: grid;
    grid-template-rows: auto auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-texto{
    font-size: 25px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.banner-img{
  text-align: center;
  
}

.banner-img img{
  max-width: 100%; 
  height: auto; 
}

.sobre-nosotros {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      background-color: #161616;
      gap: 20px;
      border-radius: 10px;
      max-width: 2000px;
      margin: 40px auto;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      flex-wrap: wrap;
    }

    .sobreN-texto{
      display: grid;
      grid-template-rows: 50% 15%;
      max-width: 1500px;
    }

    .sobreN-texto p {
      font-size: 18px;
      
    }

    .sobreN-texto .sobreN-titulo{
      font-size: 30px;
      border-bottom: 2px solid rgb(212, 199, 199);
    }

    .sobreN-texto .sobreN-parrafo{
      padding-bottom: 80px;
    }



    .sobreN-imagen {
      display: flex;
      border: 3px solid rgb(212, 199, 199);
      border-radius: 30px;
      margin: 10px;
      max-width: 100%; 
      height: auto; 
      border-radius: 30px;
      object-fit: cover; 
    }

    .sobreN-imagen img {
      border-radius: 25px;
    }

    @media (max-width: 768px) {
  .sobre-nosotros {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .sobreN-texto {
    max-width: 100%;
  }
   .texto-menu {
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
  }

  .banner-texto {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .main-banner {
    padding: 20px;
  }
}


/* contacto */

.contacto {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .card {
      width: 850px;
      height: 600px;
      background-color: #161616;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      display: flex;
      overflow: hidden;
    }

    .left {
      width: 300px;
      background: linear-gradient(135deg, #000000, #51015a);
      padding: 20px;
      text-align: center;
      color: white;
    }

    .avatar {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 15px auto;
    }

    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      font-size: 1.8em;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }

    .role {
      font-size: 0.9em;
      margin-top: 5px;
      font-family: 'Roboto', sans-serif;
      font-style: italic;

    }

    .actions {
      margin-top: 20px;
    }

    .actions a {
    display: block;
    text-decoration: none;
    color: #008080;
    margin: 8px 0;
    padding: 8px;
    background-color: #000000;
    border: 0.5px solid #555;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

.actions a:hover {
    background-color: #9a9a9a;
    transform: scale(1.1);
  }


    .right {
      flex: 1;
      padding: 40px;
    }

    .panel  {
      background-color: #161616;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
    }
    .panel h3,
    .panel p {
     font-family: 'Roboto', sans-serif;
     font-style: italic;
     color: #dddddd;
     line-height: 1.6;
    }

    .panel h3 {
      margin: 0 0 5px 0;
      font-size: 1em;
    }

    .panel p {
      margin: 0;
      color: #ffffff;
      font-size: 0.9em;
    }

    .socials a {
      display: inline-block;
      text-decoration: none;
      color: #555;
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-radius: 8px;
      margin-right: 5px;
      font-size: 0.9em;
    }

    .Taller {
     width: 300px;
     height: 600px;
    }
    
    .foto-taller {
      text-align: center;
      margin-top: 40px;
    }


/* servicios */
.servicios{
      text-align: center;
      font-size: 2em;
}
  
    .main-content{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      overflow: hidden;
}
     

    .tarjeta{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

    .pulido-encerado{
      background-color: #161616;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      width: 300px;
      height: 400px;
      text-align: center;
      transition: transform 0.3s ease;
    }
    .pulido-encerado:hover {
      transform: scale(1.10);
    }

    .limpieza-interior{
      background-color: #161616;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      width: 300px;
      height: 400px;
      text-align: center;
      transition: transform 0.3s ease;
    }
    .limpieza-interior:hover {
      transform: scale(1.10);
    }

    .tratamiento-ceramico{
      background-color: #161616;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      width: 300px;
      height: 400px;
      text-align: center;
      transition: transform 0.3s ease;
    }
    .tratamiento-ceramico:hover {
      transform: scale(1.10);
    }

    .lavado-premium{
      background-color: #161616;
      box-shadow: 0 5px 20px rgba(134, 134, 134, 0.575);
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      width: 300px;
      height: 400px;
      text-align: center;
      transition: transform 0.3s ease;
    }
    .lavado-premium:hover {
      transform: scale(1.10);
    }


    .contenido{
      padding: 5px;
    }

    .titulo a{
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
    }

    .descripcion{
      font-size: 1em;
      font-weight: bold;
    }

    .imagen{
      margin-bottom: 30px;
    }
    .imagen img{
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(226, 224, 224, 0.575);
      width: 100%;
      object-fit: cover;
    }

    .texto{
      display: grid;
      grid-template-rows: 40% ;
    }
